.world {
  background: black;
}

.classdata_studioa {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

.classdata_studioa_backgroudavg {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
}

.CanvasX {
  position: fixed !important;
  inset: 0 !important;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

/*.colorini_studioa{
              
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }*/
/*@keyframes anim{
    0% {background-color: #efe1ca;} 
   25% {background-color: #29abe2;} 
   50% {background-color: #999999;} 
   75% {background-color: #efe1ca;} 
  100% {background-color: #8a2036;} 
}*/


/* style retro antes de final*/

.colorini_studioa {

  font-family: cursive;
  background: linear-gradient(80deg, #fdb19a, #fcd190
      /*#23d5ab*/
      , #fff0d7
      /*#23a6d5*/
      , #8a2036);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.spinner2 {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #74bc1f;
}

.spinner2:before,
.spinner2:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 90%;
  transform: rotateX(70deg);
  animation: 3s spin linear infinite;
}

.spinner2:after {
  color: #b4ada5;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(100deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.spinner {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #c20f2f;
}

.spinner:before,
.spinner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.spinner:after {
  color: #047835;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}